<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.postdaily">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".OfflineFirebase"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/applogo"
        android:label="PostDaily"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RequestActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".OcrActivity"
            android:parentActivityName=".ClickPostActivity" />
        <activity android:name=".PasswordActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PasswordSettingsActivity" />
        <activity android:name=".MyPostsActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ShowUserInfoActivity"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".FriendsActivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".PersonProfileActivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".CommentsActivity" />
        <activity
            android:name=".FindFriendsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ClickPostActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DarkModeActivity"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".NewPostActivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".UserProfileActivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>